/*
tipografia
font-family: 'Roboto', sans-serif;
Thin 100
Regular 400
Medium 500
Bold 700
*/
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
@media only screen and (max-width: 480px) {
  body body {
    margin: 0;
    padding: 0;
  }
  body .row {
    padding: 0;
  }
  body .col {
    margin: 0.5em;
    padding: 0;
  }
  body .col-sm-3 {
    padding: 0;
    max-width: 310px;
  }
  body .close-menu {
    display: inline;
    font-size: 25px;
    color: #fff;
    float: right;
  }
  body .logo {
    padding: 1em;
    margin: 0;
    margin-left: 4em;
    font-size: 15px;
  }
  body .mob-menu {
    position: absolute;
    top: 1em;
    left: 1.5em;
    display: inline;
    font-size: 25px;
    color: #fff;
  }
  body .top-nav {
    padding: 0;
  }
  body .nav {
    margin: 0;
    position: absolute;
    top: 0em;
    left: -30em;
    margin: 0;
    padding: 2em 3em;
    width: 100%;
    height: 100%;
    background: #007E88;
    z-index: 2;
    display: block;
    transition: 0.5s;
  }
  body .btn-top {
    font-size: 18px;
    padding: 1em 0;
  }
  body .input-search {
    max-width: 150px;
    margin: 0;
  }
  body .select-category {
    margin: 0;
    padding: 0.5em 0;
    font-size: 18px;
  }
  body .container-slider {
    height: 200px;
  }
  body h1 {
    font-size: 25px;
  }
  body h2 {
    font-size: 20px;
  }
  body .text {
    font-size: 14px;
  }
  body .container-proximos {
    padding: 0 2em;
  }
  body .container-todo {
    padding: 0 2em;
  }
  body footer {
    margin: 1em 0 0 0;
    padding: 0.5em;
  }
  body .container-event {
    padding: 0 2em;
  }
  body .img-event {
    padding: 1em 0;
  }
  body .conteiner-reserv {
    padding: 0 2em;
  }
  body .img-reserv {
    margin: 0;
    padding: 1em 0;
    width: 280px;
    height: auto;
  }
  body .select-number {
    width: 100%;
  }
  body .input-text {
    width: 100%;
  }
  body .container-confirm {
    width: 100%;
    padding: 2em 1em;
    top: 20em;
    left: 0em;
  }
  body .close-icon {
    font-size: 20px;
  }
  body .text-confirm {
    margin: 0;
    padding: 0;
    font-size: 20px;
  }
}

.top-nav {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0 6em;
  background: #007E88;
  text-align: left;
}

.nav {
  float: right;
}

.logo {
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: none;
  max-width: 172px;
  padding: 1em 0;
  font-size: 22px;
  color: #fff;
  text-align: left;
}
.logo:hover {
  color: #00E0FF;
}

.input-search {
  display: inline-block;
  max-width: 120px;
  margin: 1em 0 0 1em;
  background: none;
  border: 3px solid #fff;
  border-radius: 8px;
  color: #fff;
}

.btn-search {
  margin: 0;
  padding: 0.7em 0.5em;
  font-size: 24px;
  color: #fff;
  background: none;
  border: none;
}

.btn-top {
  display: block;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: none;
  padding: 1em 0.5em;
  font-size: 18px;
  color: #fff;
}
.btn-top:hover {
  color: #00E0FF;
}

.select-category {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  margin: 0.6em 0;
  padding: 0.5em;
  font-size: 18px;
  color: #fff;
  background: #007E88;
  border: none;
}

.container-slider {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 0;
  overflow: hidden;
  height: 600px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 35px;
  margin: 0.5em 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 30px;
  margin: 0.5em 0;
}

.img-slider {
  width: 100%;
}

.row {
  margin: 0;
  padding: 0;
}

.col {
  margin: 0;
  padding: 0;
}

.col-sm-3 {
  margin: 1em 1.9em 1em 0;
  padding: 0;
  max-width: 300px;
}

.galery {
  width: 100%;
  height: 100%;
  padding: 0.5em;
  border: 1pt solid;
}
.galery :hover {
  filter: grayscale(50%);
}

.img {
  margin-bottom: 1em;
  width: 100%;
  height: auto;
  max-height: 200px;
}

.text-gallerie {
  margin: 0;
  padding: 0 0.5em;
  float: left;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.container-proximos {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
}

.container-todo {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
}

footer {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
  text-align: left;
  height: 80px;
  background: #007E88;
}

.footer-text {
  color: #fff;
  float: right;
}

.img-event {
  width: 100%;
  height: auto;
  margin: 0;
}

.container-event {
  padding: 2em 6em;
}

.text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.btn-reservar {
  text-align: center;
  margin: 1em 0 2em 0;
  color: #007E88;
  border: 3px solid #007E88;
  padding: 0.5em 2em;
  display: block;
  max-width: 12em;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  background: none;
}
.btn-reservar:hover {
  color: #00E0FF;
  border: 3px solid #00E0FF;
}

.icon {
  color: #007E88;
  font-size: 30px;
  margin-right: 0.5em;
  display: inline-block;
}

.img-reserv {
  margin: 2em 1.5em 0 0;
  width: 600px;
  height: auto;
}

.conteiner-reserv {
  padding: 2em 6em;
}

.select-number {
  border-radius: 5px;
  width: 300px;
  margin: 0.5em 0;
}

.input-text {
  border-radius: 5px;
  width: 300px;
  margin: 0.5em 0;
}

.mob-menu {
  display: none;
}

.close-menu {
  display: none;
}

.container-confirm {
  margin: 0;
  padding: 2em 6em;
  width: 100%;
  height: auto;
  text-align: center;
  padding: 2em 4em;
  display: none;
  width: 35%;
  height: auto;
  position: absolute;
  background-color: #007E88;
  z-index: 3;
  top: 20em;
  left: 30em;
  border-radius: 0.5em;
  text-align: center;
}

.close-icon {
  color: #fff;
  font-size: 30px;
  float: right;
  background: none;
  border: none;
}

.text-confirm {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-align: left;
}

.text-details {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
  text-align: left;
}