@import 'vars';

//media queries
$phone : '(max-width: 480px)';

@mixin respond-to($phone) {
    @media only screen and #{$phone} {
        @content;
        body{
            margin: 0;
            padding: 0;
        }
        .row{
            padding: 0;
        }
        .col{
            padding: 0;
        }
        .col-sm-3{
            padding: 0;
        }
        .close-menu{
            display: inline;
            font-size: 25px;
            color: #fff;
            float: right;
        }
        .logo{
            padding: 1em;
            margin: 0;
            margin-left: 4em;
            font-size: 15px;
        }
        .mob-menu{
            position: absolute;
            top: 0.5em;
            left: 1.5em;
            display: inline;
            font-size: 25px;
            color: #fff;
        }
        .top-nav{
            padding: 0;
        }
        .nav{
            margin: 0;
            position: absolute;
            top: 0em;
            left: -25em;
            margin: 0;
            padding: 2em 3em;
            width: 100%;
            height: auto;
            background: $green;
            z-index: 2;
            display: block;
            transition: 0.5s;
        }
        .btn-top{
            font-size: 18px;
            padding: 1em 0;
        }
        .input-search{
            max-width: 150px;
            margin: 0;
        }
        .select-category{
            margin: 0;
            padding: 0.5em 0;
            font-size: 18px;
        }
        .container-slider{
            height: 200px;
        }
        h1{
            font-size: 25px;
        }
        h2{
            font-size: 20px;
        }
        .text{
            font-size: 14px;
        }
        .container-proximos{
            padding: 0 3em;
        }
        .container-todo{
            padding: 0 3em;
        }
        footer{
            margin: 1em 0 0 0;
            padding: 0.5em;
        }
        //event-info
        .container-event{
            padding: 0 3em;
        }
        .img-event{
            padding: 1em 0;
        }
        //reserv
        .conteiner-reserv{
            padding: 0 3em;
        }
        .img-reserv{
            margin: 0;
            padding: 1em 0;
            width: 280px;
            height: auto;
        }
        .select-number{
            width: 100%;
        }
        .input-text{
            width: 100%;
        }
        .container-confirm{
            width: 100%;
            padding: 2em 1em;
            top: 20em;
            left: 0em;
        }
        .close-icon{
            font-size: 20px;
        }
        .text-confirm{
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
    }
}
