@import 'vars';
@import 'media-queries';

/*
tipografia
font-family: 'Roboto', sans-serif;
Thin 100
Regular 400
Medium 500
Bold 700
*/

body{
    @include respond-to($phone);
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
@mixin container {
    margin: 0;
    padding: 2em 6em;
    width: 100%;
    height: auto;
    text-align: center;
}
.top-nav{
    @include container();
    padding: 0 6em;
    background: $green;
}
.nav{
    float: right;
}

@mixin btn {
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: none;
    &:hover{
            color: $ligth-blue;
    }
}
.logo{
    @include btn();
    max-width: 172px;
    padding: 1em;
    font-size: 22px;
    color: #fff;
    text-align: left
}
.btn-top{
    @include btn();
    padding: 1em;
    font-size: 20px;
    color: #fff;
}
.select-category{
    display: block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding: 1em 0;
    font-size: 20px;
    color: #fff;
    border: none;
    background: $green;
}
.container-slider{
    @include container();
    padding: 0;
    overflow: hidden;
    height: 550px;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 35px;
    margin: 0.5em 0;
}
h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 30px;
    margin: 0.5em 0;
}

.img-slider{
    max-width: 100%;
}
.col-sm-3{
    :hover{
        transform:scale(1.2);
    }
}
.img{
    max-width: 270px;
    max-height: 350px;
    margin: 1.5em 0;
}
.container-proximos{
    @include container();
}
.container-todo{
    @include container();
}
footer{
    @include container();
    text-align: left;
    height: 80px;
    background: $green;
}
.footer-text{
    float: right;
}
.img-event{
    width: 100%;
    height: auto;
    margin: 0;
    padding: 2em 0;
}
.container-event{
    padding: 2em 6em;
}
.text{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
}
.btn-reservar{
    text-align: center;
    margin: 2em 0;
    color: $green;
    border: 3px solid $green;
    padding: 0.5em 2em;
    display: block;
    max-width: 10em;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: none;
    &:hover{
        color: $ligth-blue;
        border: 3px solid $ligth-blue;
    }
}
.icon{
    color: $green;
    font-size: 30px;
    margin-right: 0.5em;
    display: inline-block;
}
.img-reserv{
    margin: 2em 1.5em;
    width: 500px;
    height: auto;
}
.conteiner-reserv{
    padding: 2em 6em;
}
.select-number{
    width: 300px;
    margin: 0.5em 0;
}
.input-text{
    width: 300px;
    margin: 0.5em 0;
}
.mob-menu{
    display: none;
}
.close-menu{
    display: none;
}